#opensearchserver_admin fieldset { border:1px solid #DBDADA; padding:10px 20px 20px 20px; max-width:1200px; min-width:700px; margin:30px 0 20px 0;  background:#FDFDFD; }
#opensearchserver_admin fieldset p { margin:5px 0 5px 0; }
#opensearchserver_admin legend { font-weight: bold; font-size:1.1em; padding:5px 10px; border-left:1px solid #DBDADA;}
.help { font-style:italic; color:grey; }
#opensearchserver_admin a { color:grey; text-decoration:underline;  }
#opensearchserver_admin a:hover { text-decoration:none; }
#opensearchserver_admin table .help { font-size:0.9em;}
#opensearchserver_admin .help strong { font-weight:bold; }
#opensearchserver_admin .help h4 { font-size:1.1em; margin:5px 0 5px 0; }
#opensearchserver_admin .help ul { margin:0 0 0 30px; list-style-type:square; }
#opensearchserver_admin .help li { margin:0; list-style-type:square; color:grey; }
#opensearchserver_admin table th { font-weight:bold; }
#opensearchserver_admin table th .help { font-weight:normal; }
#opensearchserver_admin table tbody td { border-bottom:1px solid #efefef; border-left:1px solid #efefef; }
#opensearchserver_admin #oss_query_settings_post_to_oss_wrapper { border-top:1px solid #ececec; padding:10px 0 0 0; margin:5px 0 10px 0; }
#opensearchserver_admin .warning { background:rgb(255, 140, 124); text-align:center;}
#opensearchserver_admin label { vertical-align:baseline; }
#opensearchserver_admin .oss_scrollable_list { max-height:300px; overflow:auto; padding:5px 0 5px 0;}
#opensearchserver_admin #oss-cron-running { 
	background:#F5F5F5; 
	border-radius:5px;
	padding:1px 10px 10px 10px;
	width:400px;
	margin:10px 0 10px 0;
	-webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.6);
    -moz-box-shadow:    0px 0px 7px 0px rgba(50, 50, 50, 0.6);
    box-shadow:         0px 0px 7px 0px rgba(50, 50, 50, 0.6);
} 
#opensearchserver_admin #oss-cron-wrapper { height:30px; }
#opensearchserver_admin #oss-cron-loading { float:left; position:relative; width:200px;  margin:5px 0 5px 0; }
/* Style from Bootstrap */
#opensearchserver_admin #oss-cron-loading  {
	overflow: hidden;
	height:20px;
	background-color: white;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	border:1px solid #ccc;
}
#opensearchserver_admin #oss-cron-loading-percent { position:absolute; top:1px; left:98px; font-size:10px;}
#opensearchserver_admin #oss-cron-loading-inner {  height:20px; background:#ddd; border-radius:2px;}
/* Style from Bootstrap */
#opensearchserver_admin #oss-cron-loading-inner {
    background-color: #5bc0de; 
	background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	-webkit-background-size: 40px 40px;
	background-size: 40px 40px;
}
#opensearchserver_admin #oss-cron-stats { float:left; width:100px; padding:5px 0 0 5px; }
