#opensearchserver_admin fieldset { border:1px solid #DBDADA; padding:10px 20px 20px 20px; max-width:1200px; min-width:700px; margin:30px 0 20px 0;  background:#FDFDFD; }
#opensearchserver_admin fieldset p { margin:5px 0 5px 0; }
#opensearchserver_admin legend { font-weight: bold; font-size:1.1em; padding:5px 10px; border-left:1px solid #DBDADA;}
.help { font-style:italic; color:grey; }
#opensearchserver_admin a { color:grey; text-decoration:underline;  }
#opensearchserver_admin a:hover { text-decoration:none; }
#opensearchserver_admin table .help { font-size:0.9em;}
#opensearchserver_admin table tbody td { border-bottom:1px solid #efefef; border-left:1px solid #efefef; }
#opensearchserver_admin #oss_query_settings_post_to_oss_wrapper { border-top:1px solid #ececec; padding:10px 0 0 0; margin:5px 0 10px 0; }