#oss-search-form form {
	text-align: left;
	margin-left: 10%;
}
.oss-search {
	margin-top:2%;
	margin-left:10%;
	margin-right:10%;
	width:70%;
}

#oss-nav {
	list-style: none;
	margin: 0;
	padding-right: 7px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

#oss-nav li {
	padding-left: 10px;
}

#oss-nav li a {
	text-decoration: none;
}

#oss-nav li:hover {
	background: #EEEEEE;
}
#oss-filter {
 width:200px;
 float:left;
}
#oss-results{

 overflow:hidden;
}

.oss-title {
	  font-size:1.5em;
	  margin-bottom:5px;
}
	  

.oss-autocomplete_link {
	background-color: #FFFFFF;
	padding: 2px 6px 2px 6px;
}

.oss-autocomplete_link_over {
	background-color: #99BBFF;
	padding: 2px 6px 2px 6px;
}

#oss-autocomplete {
	margin: 0;
	float: left;
	cursor: pointer !important;
}

#oss-autocompletelist {
	background-color: #FFFFFF;
	text-align: left;
	z-index: 1000;
	position: absolute;
	width: 493px;
	border: 1px solid #99BBFF;
}
.oss-logo {
	text-align:right;
}
.oss-result {
	margin-top: 15px;
	border-bottom:1px solid #efefef;
	padding-bottom:15px;
}
.oss-result:last-child {
    border:none;
}
.oss-bold { 
	font-weight:bold;
}
.oss-facet-number-docs {
	color:#A6A8A6;
	font-weight: normal;
	font-size:0.9em;
}
.oss-result-info { color:#ababab;}
.oss-filter-title { font-weight:bold; }