/* OpenSearchServer result page */
#oss-quick-open {
	font-size: 100%;
}

.oss-content {
	font-size: 100%;
	color: #222222;
}

.oss-title {
	font-size: 110%;
	color: #1122CC;
}

.oss-url {
	font-size: 90%;
	color: #009933;
}

#oss-no-of-doc {
	padding-left: 200px;
	padding-bottom: 15px;
}

#oss-results {
	padding-left: 200px;
}

.oss-result {
	padding-bottom: 10px;
}

#oss-filter {
	margin: 0;
	padding: 0;
	clear: both;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	width: 180px;
}

.oss-filter-title {
	font-size: 110%;
}

.oss-bold {
	font-weight: bold;
}

#oss-paging {
	margin: 0;
	padding: 0;
	text-align: center;
}

#oss-search-form #keyword {
	border: 1px solid #ccc;
	width: 570px;
	height: 25px;
}

#oss-submit {
	background-color: #4D90FE;
	border: 1px solid #3079ED;
	color: #FFFFFF;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	cursor: default;
	display: inline-block;
	font-weight: bold;
	height: 31px;
	min-width: 54px;
	padding: 0 8px;
	margin-left: 10px;
	text-align: center;
	text-decoration: none;
}

#oss-search-form form {
	padding-left: 200px;
}

#oss-search {
	width: 100%;
	font-size: 100%;
	font-style: normal;
	font-size-adjust: none;
}

.oss-autocomplete_link {
	font-size: 100%;
	background-color: #FFFFFF;
	padding: 2px 6px 2px 6px;
}

.oss-autocomplete_link_over {
	font-size: 100%;
	background-color: #99BBFF;
	padding: 2px 6px 2px 6px;
}

#oss-autocomplete {
	margin: 0;
	width: 380px;
	float: left;
	cursor: pointer !important;
}

#oss-autocompletelist {
	background-color: #FFFFFF;
	text-align: left;
	z-index: 1000;
	position: absolute;
	width: 380px;
	border: 1px solid #99BBFF;
}

#oss-page {
	padding-left: 10px;
}

#oss-facets-menu {
	vertical-align: middle;
	margin: 0;
	list-style: none;
}

#oss-facets {
	padding-top: 10px;
}

.oss-facets-li a {
	color: #222222;
}

.oss-facets-li {
	padding-left: 10px;
	margin-top: 0;
}

#oss-facets-menu li:hover {
	background: #EEEEEE;
}

#oss-facets-menu li a {
	text-decoration: none;
}

.oss-submenu {
	display: none;
	list-style: none;
	padding-left: 15px;
	margin: 0;
}

.oss-top-nav  a {
	color: #000000;
}

#oss-menu-selected  a {
	color: #DD4B39;
	cursor: pointer;
}

#oss-head a {
	font-size: 120%;
	color: #1122CC;
	margin-top: 0;
	clear: both;
}

#oss-nav {
	list-style: none;
	margin: 0;
	padding-right: 7px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

#oss-nav li {
	padding-left: 10px;
}

#oss-nav li a {
	text-decoration: none;
}

#oss-nav li:hover {
	background: #EEEEEE;
}